<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Levels</key>
	<array>
		<array>
			<dict>
				<key>SpawnAsteroids</key>
				<true/>
				<key>Duration</key>
				<integer>15</integer>
				<key>AMoveDurationHigh</key>
				<integer>10</integer>
				<key>AMoveDurationLow</key>
				<integer>2</integer>
				<key>ASpawnSecsHigh</key>
				<real>0.9</real>
				<key>ASpawnSecsLow</key>
				<real>0.2</real>
			</dict>
		</array>
	</array>
</dict>
</plist>
