<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Levels</key>
	<array>
		<array>
			<dict>
				<key>Background</key>
				<string></string>
				<key>Duration</key>
				<integer>4</integer>
				<key>SpawnLevelIntro</key>
				<true/>
				<key>LText</key>
				<string></string>
				<key>TText</key>
				<string>Tutorial</string>
				<key>SText</key>
				<string></string>
			</dict>
			<dict>
				<key>Duration</key>
				<integer>6</integer>
				<key>SpawnLevelIntro</key>
				<true/>
				<key>LText</key>
				<string></string>
				<key>TText</key>
				<string></string>
				<key>SText</key>
				<string>Move By Tilting the IPad</string>
			</dict>
			<dict>
				<key>Duration</key>
				<integer>6</integer>
				<key>SpawnLevelIntro</key>
				<true/>
				<key>LText</key>
				<string></string>
				<key>TText</key>
				<string>To Fire Weapons, Tap and Hold</string>
				<key>SText</key>
				<string></string>
			</dict>
			<dict>
				<key>Duration</key>
				<integer>8</integer>
				<key>SpawnLevelIntro</key>
				<true/>
				<key>LText</key>
				<string></string>
				<key>TText</key>
				<string></string>
				<key>SText</key>
				<string>This is a PowerUp. Pick it up!</string>
				<key>SpawnPowerupMultiple</key>
				<true/>
				<key>PMultipleSpawnSecs</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>Duration</key>
				<integer>6</integer>
				<key>SpawnLevelIntro</key>
				<true/>
				<key>LText</key>
				<string></string>
				<key>TText</key>
				<string>To Pause The Game, Tap 3 times.</string>
				<key>SText</key>
				<string></string>
			</dict>
			<dict>
				<key>Duration</key>
				<integer>10</integer>
				<key>SpawnLevelIntro</key>
				<true/>
				<key>LText</key>
				<string></string>
				<key>TText</key>
				<string></string>
				<key>SText</key>
				<string>Great! Now Try and Shoot Down Some Enemies!</string>
				<key>SpawnPowerupMultiple</key>
				<true/>
				<key>PMultipleSpawnSecs</key>
				<integer>10</integer>
				<key>SpawnEnemys</key>
				<true/>
				<key>AMoveDurationHigh</key>
				<integer>20</integer>
				<key>AMoveDurationLow</key>
				<integer>12</integer>
				<key>ASpawnSecsHigh</key>
				<integer>10</integer>
				<key>ASpawnSecsLow</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>Duration</key>
				<integer>-1</integer>
				<key>SpawnLevelIntro</key>
				<true/>
				<key>LText</key>
				<string></string>
				<key>TText</key>
				<string>This Concludes The Turorial.</string>
				<key>SText</key>
				<string></string>
				<key>SpawnPowerupMultiple</key>
				<true/>
				<key>PMultipleSpawnSecs</key>
				<integer>10</integer>
				<key>SpawnEnemys</key>
				<true/>
				<key>AMoveDurationHigh</key>
				<integer>20</integer>
				<key>AMoveDurationLow</key>
				<integer>12</integer>
				<key>ASpawnSecsHigh</key>
				<integer>10</integer>
				<key>ASpawnSecsLow</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>SpawnLevelIntro</key>
				<true/>
				<key>SText</key>
				<string></string>
				<key>TText</key>
				<string></string>
				<key>LText</key>
				<string>Section1</string>
				<key>SpawnPowerupBolt</key>
				<false/>
				<key>SpawnPowerupMultiple</key>
				<false/>
				<key>SpawnEnemyFlyer</key>
				<false/>
				<key>SpawnEnemys</key>
				<true/>
				<key>SpawnAlienWasp</key>
				<false/>
				<key>SpawnBigTurret</key>
				<false/>
				<key>SpawnBoss</key>
				<false/>
				<key>Duration</key>
				<integer>15</integer>
				<key>PBoltSpawnSecs</key>
				<integer>10</integer>
				<key>PMultipleSpawnSecs</key>
				<integer>10</integer>
				<key>AMoveDurationHigh</key>
				<integer>10</integer>
				<key>AMoveDurationLow</key>
				<integer>8</integer>
				<key>ASpawnSecsHigh</key>
				<integer>6</integer>
				<key>ASpawnSecsLow</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>SpawnLevelIntro</key>
				<true/>
				<key>SText</key>
				<string></string>
				<key>TText</key>
				<string></string>
				<key>LText</key>
				<string>Section2</string>
				<key>SpawnPowerupBolt</key>
				<false/>
				<key>SpawnPowerupMultiple</key>
				<true/>
				<key>SpawnEnemyFlyer</key>
				<false/>
				<key>SpawnEnemys</key>
				<true/>
				<key>SpawnAlienWasp</key>
				<false/>
				<key>SpawnBigTurret</key>
				<false/>
				<key>SpawnBoss</key>
				<false/>
				<key>Duration</key>
				<integer>20</integer>
				<key>PBoltSpawnSecs</key>
				<integer>10</integer>
				<key>PMultipleSpawnSecs</key>
				<integer>5</integer>
				<key>AMoveDurationHigh</key>
				<integer>8</integer>
				<key>AMoveDurationLow</key>
				<integer>6</integer>
				<key>ASpawnSecsHigh</key>
				<integer>5</integer>
				<key>ASpawnSecsLow</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>SpawnLevelIntro</key>
				<true/>
				<key>SText</key>
				<string></string>
				<key>TText</key>
				<string></string>
				<key>LText</key>
				<string>Section3</string>
				<key>SpawnPowerupBolt</key>
				<true/>
				<key>SpawnPowerupMultiple</key>
				<true/>
				<key>SpawnEnemyFlyer</key>
				<false/>
				<key>SpawnEnemys</key>
				<true/>
				<key>SpawnAlienWasp</key>
				<true/>
				<key>SpawnBigTurret</key>
				<false/>
				<key>SpawnBoss</key>
				<false/>
				<key>AMoveDurationHigh</key>
				<integer>9</integer>
				<key>Duration</key>
				<integer>30</integer>
				<key>PBoltSpawnSecs</key>
				<integer>50</integer>
				<key>PMultipleSpawnSecs</key>
				<integer>30</integer>
				<key>AMoveDurationLow</key>
				<integer>7</integer>
				<key>ASpawnSecsHigh</key>
				<integer>5</integer>
				<key>ASpawnSecsLow</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>SpawnLevelIntro</key>
				<true/>
				<key>SText</key>
				<string></string>
				<key>TText</key>
				<string></string>
				<key>LText</key>
				<string>Section4</string>
				<key>SpawnPowerupBolt</key>
				<false/>
				<key>SpawnPowerupMultiple</key>
				<true/>
				<key>SpawnEnemyFlyer</key>
				<true/>
				<key>SpawnEnemys</key>
				<true/>
				<key>SpawnAlienWasp</key>
				<false/>
				<key>SpawnBigTurret</key>
				<false/>
				<key>SpawnBoss</key>
				<false/>
				<key>Duration</key>
				<integer>-1</integer>
				<key>PBoltSpawnSecs</key>
				<integer>30</integer>
				<key>PMultipleSpawnSecs</key>
				<integer>10</integer>
				<key>AMoveDurationHigh</key>
				<integer>9</integer>
				<key>AMoveDurationLow</key>
				<integer>7</integer>
				<key>ASpawnSecsHigh</key>
				<integer>5</integer>
				<key>ASpawnSecsLow</key>
				<integer>1</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>SpawnLevelIntro</key>
				<true/>
				<key>SText</key>
				<string>WARNING!</string>
				<key>TText</key>
				<string></string>
				<key>LText</key>
				<string>DESTROY ENEMY SHIP</string>
				<key>Duration</key>
				<integer>-1</integer>
				<key>SpawnBigTurret</key>
				<true/>
			</dict>
			<dict>
				<key>SpawnAlienWasp</key>
				<true/>
				<key>Duration</key>
				<integer>50</integer>
				<key>SpawnEnemys</key>
				<true/>
				<key>SpawnPowerupBolt</key>
				<true/>
				<key>PBoltSpawnSecs</key>
				<integer>20</integer>
				<key>AMoveDurationHigh</key>
				<integer>15</integer>
				<key>AMoveDurationLow</key>
				<integer>12</integer>
				<key>ASpawnSecsHigh</key>
				<integer>1</integer>
				<key>ASpawnSecsLow</key>
				<real>0.8</real>
			</dict>
			<dict>
				<key>SpawnLevelIntro</key>
				<true/>
				<key>SText</key>
				<string>WARNING!</string>
				<key>TText</key>
				<string></string>
				<key>LText</key>
				<string>GET READY</string>
				<key>Duration</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>NextStage</key>
				<true/>
				<key>SpawnLevelIntro</key>
				<true/>
				<key>SText</key>
				<string></string>
				<key>TText</key>
				<string></string>
				<key>LText</key>
				<string></string>
				<key>Duration</key>
				<integer>5</integer>
			</dict>
		</array>
	</array>
</dict>
</plist>
