<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>0.0</real>
	<key>angleVariance</key>
	<real>0.0</real>
	<key>blendFuncDestination</key>
	<integer>1</integer>
	<key>blendFuncSource</key>
	<integer>770</integer>
	<key>duration</key>
	<real>-1</real>
	<key>emitterType</key>
	<real>0.0</real>
	<key>finishColorAlpha</key>
	<real>1</real>
	<key>finishColorBlue</key>
	<real>0.10999999940395355</real>
	<key>finishColorGreen</key>
	<real>0.064290367066860199</real>
	<key>finishColorRed</key>
	<real>0.93000000715255737</real>
	<key>finishColorVarianceAlpha</key>
	<real>0.10000000149011612</real>
	<key>finishColorVarianceBlue</key>
	<real>0.0</real>
	<key>finishColorVarianceGreen</key>
	<real>0.0</real>
	<key>finishColorVarianceRed</key>
	<real>0.0</real>
	<key>finishParticleSize</key>
	<real>12.949999809265137</real>
	<key>finishParticleSizeVariance</key>
	<real>0.0</real>
	<key>gravityx</key>
	<real>1</real>
	<key>gravityy</key>
	<real>1</real>
	<key>maxParticles</key>
	<real>1460</real>
	<key>maxRadius</key>
	<real>100</real>
	<key>maxRadiusVariance</key>
	<real>0.0</real>
	<key>minRadius</key>
	<real>0.0</real>
	<key>particleLifespan</key>
	<real>2.5657999515533447</real>
	<key>particleLifespanVariance</key>
	<real>1.118399977684021</real>
	<key>radialAccelVariance</key>
	<real>-434.20999145507812</real>
	<key>radialAcceleration</key>
	<real>-960.530029296875</real>
	<key>rotatePerSecond</key>
	<real>0.0</real>
	<key>rotatePerSecondVariance</key>
	<real>0.0</real>
	<key>rotationEnd</key>
	<real>0.0</real>
	<key>rotationEndVariance</key>
	<real>0.0</real>
	<key>rotationStart</key>
	<real>0.0</real>
	<key>rotationStartVariance</key>
	<real>0.0</real>
	<key>sourcePositionVariancex</key>
	<real>8</real>
	<key>sourcePositionVariancey</key>
	<real>8</real>
	<key>sourcePositionx</key>
	<real>162.83000183105469</real>
	<key>sourcePositiony</key>
	<real>224.47000122070312</real>
	<key>speed</key>
	<real>6.5799999237060547</real>
	<key>speedVariance</key>
	<real>2</real>
	<key>startColorAlpha</key>
	<real>0.10000000149011612</real>
	<key>startColorBlue</key>
	<real>0.10999999940395355</real>
	<key>startColorGreen</key>
	<real>0.19287109375</real>
	<key>startColorRed</key>
	<real>0.93000000715255737</real>
	<key>startColorVarianceAlpha</key>
	<real>0.0</real>
	<key>startColorVarianceBlue</key>
	<real>0.0</real>
	<key>startColorVarianceGreen</key>
	<real>0.0</real>
	<key>startColorVarianceRed</key>
	<real>0.0</real>
	<key>startParticleSize</key>
	<real>7</real>
	<key>startParticleSizeVariance</key>
	<real>0.0</real>
	<key>tangentialAccelVariance</key>
	<real>513.15997314453125</real>
	<key>tangentialAcceleration</key>
	<real>434.20999145507812</real>
	<key>textureFileName</key>
	<string>particleTexture.png</string>
	<key>textureImageData</key>
	<string>H4sIAAAAAAAAA92XzWpaQRTHZ5JitbFwG9uawA1WBLXZxE0IgQQiuBAxRNo3cWGgi2zE2lU2wU0EH6DLPkHJMktLIG9z+z9z/zVzh96moR9jq/yc67nnY+acOeP1+FhtKxVkoyhS/xiPQQ48AWscc5T/yZh5EIDnoAg2wCbHIuUB9X7XXDL0V2CsEqiAGngNtjnWKC9Rr0C7zC/EznI9sr4yqIMdsAv2wQE45LhP+Q71yrQL6OehsaWe6yAEVdBgjCZogy44AT2OXcqb1GvQLqSf3APXLTZbzK2s6wh0oi/vo3sRvVh/l/Zb9PczecgwZyFt90DLrDMZow8G4JRj37nfo90e/YT0e99+yLNuVc6/5fiVWGdgCMbgA8ch5QNHv0U/VfrN/yC29EyBe6fBHPYsX+/ACJyDCbgEU44TykdGL5mHI/or039ab8rcpHfq3EMdJ7as8wLMUuo+4/2xM4cO/dXpPy0HUp9SFPdQ08n5yPhOxvsMrsyYlF9Qf2DJmvRbYpzv5V7Orwrr1bZsz5jbmSW7BnNww/HaycO5sbuTtem3wjhuDaQ/5QytMVdda58PTX2TsW+dNd86c5jQrs/vXfqtMY57HshviOxP6RU5z06s3Es9L62cz1PqP1/UIt6T40UN4jPqgP43GM+Ov8a9Iee5nKk92kl/S49N+f3K5Pwuph3/xtyPr6e0O7X64JD+Nxlvmdbvu/6+97/v/l+G88/3+e/7928Zfv99P/8sw/OfnQdfz7/2fvD1/O/2po//P2lz+dv///5b1FOt1KpSSqtX+NDW9Yq5fqRU8FGvUg5lneH1Cj6eyX2Rqqxet3Re8Bp39UvLZ/GbfqB0aOm/sXy+XcT9pOSV5VvH769d1GbNuhAAAA==</string>
</dict>
</plist>
