<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>200</real>
        </dict>
        <key>bodies</key>
		<dict>
            
			<key>asteroid</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>
                    
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>3</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>
								<string>{ 124.000,184.000 }</string>
								<string>{ -49.000,210.000 }</string>
								<string>{ -170.000,130.000 }</string>
								<string>{ -203.000,-60.000 }</string>
								<string>{ 197.000,-79.000 }</string>
								<string>{ 200.000,52.000 }</string>
							</array>
							<array>
								<string>{ 87.000,-200.000 }</string>
								<string>{ 197.000,-79.000 }</string>
								<string>{ -203.000,-60.000 }</string>
								<string>{ -113.000,-189.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Boss_cannon_ball</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>
                    
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>1</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>
								<string>{ -24.000,-29.000 }</string>
								<string>{ 11.000,-35.000 }</string>
								<string>{ 31.000,-14.000 }</string>
								<string>{ 31.000,10.000 }</string>
								<string>{ 19.000,28.000 }</string>
								<string>{ -12.000,35.000 }</string>
								<string>{ -36.000,6.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
            
            
            <key>transparent</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5450,0.4875 }</string>
				<key>fixtures</key>
				<array>
                    
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>1</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>
								<string>{ 241.000,149.670 }</string>
								<string>{ 83.000,219.670 }</string>
								<string>{ 21.000,208.670 }</string>
								<string>{ 123.000,-201.330 }</string>
								<string>{ 241.000,-139.330 }</string>
								<string>{ 282.000,-83.330 }</string>
							</array>
							<array>
								<string>{ -335.000,40.670 }</string>
								<string>{ -278.000,-99.330 }</string>
								<string>{ -56.000,-201.330 }</string>
								<string>{ 123.000,-201.330 }</string>
								<string>{ 21.000,208.670 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
            
            
            
            
            
            <key>carrier1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5111,0.5073 }</string>
				<key>fixtures</key>
				<array>
                    
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>3</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>
								<string>{ 526.030,-290.485 }</string>
								<string>{ 452.030,-190.485 }</string>
								<string>{ 296.030,-286.485 }</string>
								<string>{ 411.030,-294.485 }</string>
							</array>
							<array>
								<string>{ -315.970,-122.485 }</string>
								<string>{ -287.970,-173.485 }</string>
								<string>{ -135.970,-170.485 }</string>
								<string>{ -266.970,-117.485 }</string>
							</array>
							<array>
								<string>{ 537.030,265.515 }</string>
								<string>{ 417.030,312.515 }</string>
								<string>{ 213.030,231.515 }</string>
								<string>{ 460.030,202.515 }</string>
							</array>
							<array>
								<string>{ 398.030,-418.485 }</string>
								<string>{ 411.030,-294.485 }</string>
								<string>{ 296.030,-286.485 }</string>
							</array>
							<array>
								<string>{ 452.030,-190.485 }</string>
								<string>{ 453.030,40.515 }</string>
								<string>{ 213.030,231.515 }</string>
								<string>{ 24.030,162.515 }</string>
								<string>{ 24.030,-170.485 }</string>
								<string>{ 296.030,-286.485 }</string>
							</array>
							<array>
								<string>{ 414.030,410.515 }</string>
								<string>{ 213.030,231.515 }</string>
								<string>{ 417.030,312.515 }</string>
							</array>
							<array>
								<string>{ 460.030,202.515 }</string>
								<string>{ 213.030,231.515 }</string>
								<string>{ 453.030,40.515 }</string>
							</array>
							<array>
								<string>{ 24.030,162.515 }</string>
								<string>{ -294.970,161.515 }</string>
								<string>{ -300.970,84.515 }</string>
								<string>{ -135.970,-170.485 }</string>
								<string>{ 24.030,-170.485 }</string>
							</array>
							<array>
								<string>{ -563.970,11.515 }</string>
								<string>{ -506.970,-59.485 }</string>
								<string>{ -266.970,-117.485 }</string>
								<string>{ -300.970,84.515 }</string>
							</array>
							<array>
								<string>{ -266.970,-117.485 }</string>
								<string>{ -135.970,-170.485 }</string>
								<string>{ -300.970,84.515 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
            
            
			<key>Boss_ship</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>
                    
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>3</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>
								<string>{ 322.000,-208.000 }</string>
								<string>{ 305.000,110.000 }</string>
								<string>{ 137.000,-201.000 }</string>
							</array>
							<array>
								<string>{ -387.000,-143.000 }</string>
								<string>{ -261.000,-213.000 }</string>
								<string>{ 108.000,-201.000 }</string>
								<string>{ 305.000,110.000 }</string>
								<string>{ -176.000,132.000 }</string>
							</array>
							<array>
								<string>{ 390.000,195.000 }</string>
								<string>{ -176.000,132.000 }</string>
								<string>{ 305.000,110.000 }</string>
							</array>
							<array>
								<string>{ 305.000,110.000 }</string>
								<string>{ 108.000,-201.000 }</string>
								<string>{ 137.000,-201.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
            <key>foe1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.4430,0.4457 }</string>
				<key>fixtures</key>
				<array>
                    
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>3</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>
								<string>{ 67.240,-14.610 }</string>
								<string>{ 39.240,-14.610 }</string>
								<string>{ 49.240,-42.610 }</string>
							</array>
							<array>
								<string>{ 66.240,33.390 }</string>
								<string>{ 51.240,57.390 }</string>
								<string>{ 28.240,70.390 }</string>
								<string>{ 18.240,47.390 }</string>
								<string>{ 33.240,29.390 }</string>
							</array>
							<array>
								<string>{ 11.240,-58.610 }</string>
								<string>{ 49.240,-42.610 }</string>
								<string>{ 39.240,-14.610 }</string>
								<string>{ 27.240,-4.610 }</string>
								<string>{ 13.240,-8.610 }</string>
							</array>
							<array>
								<string>{ 9.240,69.390 }</string>
								<string>{ 18.240,47.390 }</string>
								<string>{ 28.240,70.390 }</string>
							</array>
							<array>
								<string>{ 18.240,47.390 }</string>
								<string>{ 12.240,22.390 }</string>
								<string>{ 7.240,-5.610 }</string>
								<string>{ 32.240,18.390 }</string>
								<string>{ 33.240,29.390 }</string>
							</array>
							<array>
								<string>{ -3.760,-35.610 }</string>
								<string>{ 7.240,-5.610 }</string>
								<string>{ 12.240,22.390 }</string>
								<string>{ -42.760,-29.610 }</string>
							</array>
							<array>
								<string>{ -74.760,-16.610 }</string>
								<string>{ -42.760,-29.610 }</string>
								<string>{ -17.760,-5.610 }</string>
							</array>
							<array>
								<string>{ -36.760,4.390 }</string>
								<string>{ -17.760,-5.610 }</string>
								<string>{ 12.240,22.390 }</string>
								<string>{ -19.760,18.390 }</string>
								<string>{ -30.760,13.390 }</string>
							</array>
							<array>
								<string>{ -75.760,27.390 }</string>
								<string>{ -19.760,18.390 }</string>
								<string>{ 12.240,22.390 }</string>
								<string>{ -4.760,51.390 }</string>
							</array>
							<array>
								<string>{ -39.760,16.390 }</string>
								<string>{ -30.760,13.390 }</string>
								<string>{ -19.760,18.390 }</string>
							</array>
							<array>
								<string>{ 32.240,18.390 }</string>
								<string>{ 7.240,-5.610 }</string>
								<string>{ 13.240,-8.610 }</string>
								<string>{ 85.240,13.390 }</string>
							</array>
							<array>
								<string>{ 95.240,4.390 }</string>
								<string>{ 85.240,13.390 }</string>
								<string>{ 27.240,-4.610 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>enemy_spaceship</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>
                    
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>3</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>
								<string>{ 207.000,-23.000 }</string>
								<string>{ 76.000,45.000 }</string>
								<string>{ 140.000,-42.000 }</string>
							</array>
							<array>
								<string>{ 140.000,-42.000 }</string>
								<string>{ 76.000,45.000 }</string>
								<string>{ -75.000,45.000 }</string>
								<string>{ -143.000,4.000 }</string>
								<string>{ -36.000,-75.000 }</string>
								<string>{ 35.000,-73.000 }</string>
							</array>
							<array>
								<string>{ -209.000,-20.000 }</string>
								<string>{ -36.000,-75.000 }</string>
								<string>{ -143.000,4.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
            
			<key>laserbeam_blue</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>
                    
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>2</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>4</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>
								<string>{ 93.000,9.000 }</string>
								<string>{ -88.000,9.000 }</string>
								<string>{ -89.000,-8.000 }</string>
								<string>{ 90.000,-8.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
            
            
            
            
            
            
            
            
            <key>bossarmbottom</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5347,0.5956 }</string>
				<key>fixtures</key>
				<array>
                    
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>3</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>
								<string>{ 995.000,-415.000 }</string>
								<string>{ 1045.000,10.000 }</string>
								<string>{ 385.000,330.000 }</string>
								<string>{ 125.000,60.000 }</string>
								<string>{ 375.000,-130.000 }</string>
							</array>
							<array>
								<string>{ 375.000,-130.000 }</string>
								<string>{ 125.000,60.000 }</string>
								<string>{ -120.000,20.000 }</string>
								<string>{ -485.000,-155.000 }</string>
								<string>{ -215.000,-405.000 }</string>
							</array>
							<array>
								<string>{ -1220.000,-30.000 }</string>
								<string>{ -825.000,-225.000 }</string>
								<string>{ -485.000,-155.000 }</string>
								<string>{ -120.000,20.000 }</string>
								<string>{ -560.000,230.000 }</string>
								<string>{ -860.000,280.000 }</string>
								<string>{ -1090.000,135.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
            <key>bossarmside</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5951,0.5116 }</string>
				<key>fixtures</key>
				<array>
                    
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>3</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>
								<string>{ -155.000,-560.000 }</string>
								<string>{ 235.000,-435.000 }</string>
								<string>{ 95.000,280.000 }</string>
								<string>{ -30.000,400.000 }</string>
								<string>{ -100.000,-60.000 }</string>
							</array>
							<array>
								<string>{ -320.000,320.000 }</string>
								<string>{ -100.000,-60.000 }</string>
								<string>{ -30.000,400.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
            <key>bossarmtop</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5347,0.5956 }</string>
				<key>fixtures</key>
				<array>
                    
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>3</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>
								<string>{ 1005.000,245.000 }</string>
								<string>{ 385.000,-40.000 }</string>
								<string>{ 135.000,-230.000 }</string>
								<string>{ 395.000,-500.000 }</string>
								<string>{ 1055.000,-180.000 }</string>
							</array>
							<array>
								<string>{ 385.000,-40.000 }</string>
								<string>{ -205.000,235.000 }</string>
								<string>{ -475.000,-15.000 }</string>
								<string>{ -110.000,-190.000 }</string>
								<string>{ 135.000,-230.000 }</string>
							</array>
							<array>
								<string>{ -1210.000,-140.000 }</string>
								<string>{ -1080.000,-305.000 }</string>
								<string>{ -850.000,-450.000 }</string>
								<string>{ -550.000,-400.000 }</string>
								<string>{ -110.000,-190.000 }</string>
								<string>{ -475.000,-15.000 }</string>
								<string>{ -815.000,55.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>bossmain</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.4679,0.5030 }</string>
				<key>fixtures</key>
				<array>
                    
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>3</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>
								<string>{ 705.000,520.000 }</string>
								<string>{ 410.000,145.000 }</string>
								<string>{ 510.000,-10.000 }</string>
								<string>{ 715.000,200.000 }</string>
							</array>
							<array>
								<string>{ -640.000,275.000 }</string>
								<string>{ -250.000,195.000 }</string>
								<string>{ 315.000,370.000 }</string>
								<string>{ -55.000,475.000 }</string>
							</array>
							<array>
								<string>{ -620.000,-290.000 }</string>
								<string>{ 15.000,-480.000 }</string>
								<string>{ 495.000,-155.000 }</string>
								<string>{ -275.000,-180.000 }</string>
							</array>
							<array>
								<string>{ -275.000,-180.000 }</string>
								<string>{ 495.000,-155.000 }</string>
								<string>{ 410.000,145.000 }</string>
								<string>{ 315.000,370.000 }</string>
								<string>{ -250.000,195.000 }</string>
							</array>
							<array>
								<string>{ 750.000,-550.000 }</string>
								<string>{ 680.000,-115.000 }</string>
								<string>{ 510.000,-10.000 }</string>
								<string>{ 495.000,-155.000 }</string>
							</array>
							<array>
								<string>{ 510.000,-10.000 }</string>
								<string>{ 410.000,145.000 }</string>
								<string>{ 495.000,-155.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>


            
            
            
            
            
            
            
            
            
            
            
            
           			<key>laserbeam_red</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>
                    
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>1</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>
								<string>{ -37.000,-12.000 }</string>
								<string>{ 35.000,-12.000 }</string>
								<string>{ 35.000,8.000 }</string>
								<string>{ -36.000,9.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>powerup</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.4778,0.5911 }</string>
				<key>fixtures</key>
				<array>
                    
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>8</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>1</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>
								<string>{ 74.000,-116.000 }</string>
								<string>{ 84.000,-26.000 }</string>
								<string>{ 86.000,14.000 }</string>
								<string>{ 76.000,48.000 }</string>
								<string>{ -24.000,83.000 }</string>
								<string>{ -45.000,-70.000 }</string>
								<string>{ -45.000,-118.000 }</string>
							</array>
							<array>
								<string>{ 30.000,83.000 }</string>
								<string>{ -24.000,83.000 }</string>
								<string>{ 76.000,48.000 }</string>
							</array>
							<array>
								<string>{ -80.000,-10.000 }</string>
								<string>{ -64.000,-53.000 }</string>
								<string>{ -45.000,-70.000 }</string>
								<string>{ -24.000,83.000 }</string>
								<string>{ -53.000,68.000 }</string>
								<string>{ -73.000,43.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>powerup2</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>
                    
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>8</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>1</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>
								<string>{ -96.000,-23.000 }</string>
								<string>{ -60.000,-45.000 }</string>
								<string>{ 61.000,-45.000 }</string>
								<string>{ 96.000,-13.000 }</string>
								<string>{ 86.000,30.000 }</string>
								<string>{ 61.000,37.000 }</string>
								<string>{ -75.000,38.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
            <key>multiple1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5271,0.5911 }</string>
				<key>fixtures</key>
				<array>
                    
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>16</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>1</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>
								<string>{ 67.000,-116.000 }</string>
								<string>{ 70.000,-47.000 }</string>
								<string>{ -84.000,13.000 }</string>
								<string>{ -73.000,-45.000 }</string>
								<string>{ -10.000,-116.000 }</string>
							</array>
							<array>
								<string>{ -57.000,-119.000 }</string>
								<string>{ -10.000,-116.000 }</string>
								<string>{ -73.000,-45.000 }</string>
							</array>
							<array>
								<string>{ 59.000,59.000 }</string>
								<string>{ 13.000,82.000 }</string>
								<string>{ -43.000,72.000 }</string>
								<string>{ -72.000,45.000 }</string>
								<string>{ -84.000,13.000 }</string>
								<string>{ 70.000,-47.000 }</string>
								<string>{ 82.000,-15.000 }</string>
								<string>{ 82.000,13.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>fighter1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.4690,0.5012 }</string>
				<key>fixtures</key>
				<array>
                    
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>28</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>
								<string>{ 36.030,-102.300 }</string>
								<string>{ 22.030,-40.300 }</string>
								<string>{ -66.970,34.700 }</string>
								<string>{ -60.606,-45.452 }</string>
								<string>{ -20.970,-85.300 }</string>
							</array>
							<array>
								<string>{ 49.030,85.700 }</string>
								<string>{ 12.030,107.700 }</string>
								<string>{ -66.970,34.700 }</string>
								<string>{ 6.030,39.700 }</string>
							</array>
							<array>
								<string>{ -66.970,34.700 }</string>
								<string>{ 22.030,-40.300 }</string>
								<string>{ 163.030,0.700 }</string>
								<string>{ 6.030,39.700 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

