<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Big_turret.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{672,492}}</string>
                <key>offset</key>
                <string>{-24,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,8},{672,492}}</string>
                <key>sourceSize</key>
                <string>{800,500}</string>
            </dict>
            <key>Big_turret2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{696,492}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,8},{696,492}}</string>
                <key>sourceSize</key>
                <string>{800,500}</string>
            </dict>
            <key>Boss_cannon.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,556},{89,57}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{89,57}}</string>
                <key>sourceSize</key>
                <string>{105,69}</string>
            </dict>
            <key>Boss_cannon_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,494},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{60,60}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>Boss_shooter.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,323},{164,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{164,41}}</string>
                <key>sourceSize</key>
                <string>{176,63}</string>
            </dict>
            <key>SpaceFlier_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,990},{12,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>enemy_spaceship.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{234,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{234,103}}</string>
                <key>sourceSize</key>
                <string>{254,121}</string>
            </dict>
            <key>fighter1.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,107},{194,106}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{194,106}}</string>
                <key>sourceSize</key>
                <string>{210,130}</string>
            </dict>
            <key>fighter2.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,215},{178,106}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{178,106}}</string>
                <key>sourceSize</key>
                <string>{210,130}</string>
            </dict>
            <key>foe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,592},{86,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,68}}</string>
                <key>sourceSize</key>
                <string>{86,68}</string>
            </dict>
            <key>foe2.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,592},{84,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,68}}</string>
                <key>sourceSize</key>
                <string>{86,68}</string>
            </dict>
            <key>foe3.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,479},{111,160}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{111,160}}</string>
                <key>sourceSize</key>
                <string>{129,170}</string>
            </dict>
            <key>foe4.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,366},{111,162}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{111,162}}</string>
                <key>sourceSize</key>
                <string>{129,170}</string>
            </dict>
            <key>foe5.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,332},{115,160}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{115,160}}</string>
                <key>sourceSize</key>
                <string>{129,170}</string>
            </dict>
            <key>foe6.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,170},{121,160}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{121,160}}</string>
                <key>sourceSize</key>
                <string>{129,170}</string>
            </dict>
            <key>healthbar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1001},{149,9}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{149,9}}</string>
                <key>sourceSize</key>
                <string>{153,15}</string>
            </dict>
            <key>healthbar_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,990},{149,9}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{149,9}}</string>
                <key>sourceSize</key>
                <string>{153,15}</string>
            </dict>
            <key>healthbar_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1012},{149,9}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{149,9}}</string>
                <key>sourceSize</key>
                <string>{153,15}</string>
            </dict>
            <key>laserbeam_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{111,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{111,29}}</string>
                <key>sourceSize</key>
                <string>{121,37}</string>
            </dict>
            <key>laserbeam_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,990},{50,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{50,20}}</string>
                <key>sourceSize</key>
                <string>{58,24}</string>
            </dict>
            <key>multiple1.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,580},{84,98}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{84,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>multiple2.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,494},{84,98}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{84,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>powerup.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2},{86,84}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{86,84}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>powerup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,88},{86,80}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{86,80}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sprites-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf2e7ac22e4688896c2cf6b5836b9687$</string>
            <key>textureFileName</key>
            <string>Sprites-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
