<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Big_turret.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1086},{62,45}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{62,45}}</string>
                <key>sourceSize</key>
                <string>{72,45}</string>
            </dict>
            <key>Big_turret2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1086},{62,45}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{62,45}}</string>
                <key>sourceSize</key>
                <string>{72,45}</string>
            </dict>
            <key>Boss_cannon.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1834},{89,57}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{89,57}}</string>
                <key>sourceSize</key>
                <string>{105,69}</string>
            </dict>
            <key>Boss_cannon_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1834},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{60,60}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>Boss_shooter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1834},{164,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{164,41}}</string>
                <key>sourceSize</key>
                <string>{176,63}</string>
            </dict>
            <key>SpaceFlier_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2028,2},{12,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>bossarmside.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1250},{359,582}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{359,582}}</string>
                <key>sourceSize</key>
                <string>{429,582}</string>
            </dict>
            <key>bossarmside2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,880},{353,582}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,0},{353,582}}</string>
                <key>sourceSize</key>
                <string>{429,582}</string>
            </dict>
            <key>bossarmtop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{1183,437}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1183,437}}</string>
                <key>sourceSize</key>
                <string>{1183,437}</string>
            </dict>
            <key>bossarmtop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1183,437}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1183,437}}</string>
                <key>sourceSize</key>
                <string>{1183,437}</string>
            </dict>
            <key>bossmain.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,586},{716,582}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{716,582}}</string>
                <key>sourceSize</key>
                <string>{716,582}</string>
            </dict>
            <key>bossmain2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,2},{716,582}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{716,582}}</string>
                <key>sourceSize</key>
                <string>{716,582}</string>
            </dict>
            <key>carrier1.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,880},{554,420}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,33},{554,420}}</string>
                <key>sourceSize</key>
                <string>{800,500}</string>
            </dict>
            <key>fighter1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1905,874},{194,106}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{194,106}}</string>
                <key>sourceSize</key>
                <string>{210,130}</string>
            </dict>
            <key>fighter2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1905,1070},{178,106}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{178,106}}</string>
                <key>sourceSize</key>
                <string>{210,130}</string>
            </dict>
            <key>foe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1170},{86,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,68}}</string>
                <key>sourceSize</key>
                <string>{86,68}</string>
            </dict>
            <key>foe2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1170},{84,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,68}}</string>
                <key>sourceSize</key>
                <string>{86,68}</string>
            </dict>
            <key>foe3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1905,568},{111,160}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{111,160}}</string>
                <key>sourceSize</key>
                <string>{129,170}</string>
            </dict>
            <key>foe4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1905,404},{111,162}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{111,162}}</string>
                <key>sourceSize</key>
                <string>{129,170}</string>
            </dict>
            <key>foe5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1905,242},{115,160}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{115,160}}</string>
                <key>sourceSize</key>
                <string>{129,170}</string>
            </dict>
            <key>foe6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1905,2},{121,160}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{121,160}}</string>
                <key>sourceSize</key>
                <string>{129,170}</string>
            </dict>
            <key>healthbar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2022,370},{149,9}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{149,9}}</string>
                <key>sourceSize</key>
                <string>{153,15}</string>
            </dict>
            <key>healthbar_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2028,167},{149,9}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{149,9}}</string>
                <key>sourceSize</key>
                <string>{153,15}</string>
            </dict>
            <key>healthbar_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2028,16},{149,9}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{149,9}}</string>
                <key>sourceSize</key>
                <string>{153,15}</string>
            </dict>
            <key>laserbeam_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1905,730},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{121,111}</string>
            </dict>
            <key>laserbeam_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1905,843},{111,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{111,29}}</string>
                <key>sourceSize</key>
                <string>{121,37}</string>
            </dict>
            <key>laserbeam_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2018,521},{107,27}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{107,27}}</string>
                <key>sourceSize</key>
                <string>{121,37}</string>
            </dict>
            <key>laserbeam_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2022,318},{50,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{50,20}}</string>
                <key>sourceSize</key>
                <string>{58,24}</string>
            </dict>
            <key>lightning1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1905,203},{121,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,37}}</string>
                <key>sourceSize</key>
                <string>{121,37}</string>
            </dict>
            <key>lightning2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1905,164},{121,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,37}}</string>
                <key>sourceSize</key>
                <string>{121,37}</string>
            </dict>
            <key>multiple1.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,1934},{84,98}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{84,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>multiple2.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,1834},{84,98}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{84,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>powerup.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1925},{86,84}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{86,84}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>powerup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1086},{86,80}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{86,80}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>transparent.png</key>
            <dict>
                <key>frame</key>
                <string>{{2042,2},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,123.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,248}</string>
            </dict>
            <key>wasp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,983},{166,101}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,15},{166,101}}</string>
                <key>sourceSize</key>
                <string>{254,121}</string>
            </dict>
            <key>wasp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{166,101}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,15},{166,101}}</string>
                <key>sourceSize</key>
                <string>{254,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sprites-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25a8723ddc19fb60ce3957e8b576f94d$</string>
            <key>textureFileName</key>
            <string>Sprites-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
