<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Big_turret.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,986},{1344,982}}</string>
                <key>offset</key>
                <string>{-49,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,18},{1344,982}}</string>
                <key>sourceSize</key>
                <string>{1600,1000}</string>
            </dict>
            <key>Big_turret2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1398,982}}</string>
                <key>offset</key>
                <string>{-21,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,18},{1398,982}}</string>
                <key>sourceSize</key>
                <string>{1600,1000}</string>
            </dict>
            <key>Boss_cannon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,2},{174,112}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,14},{174,112}}</string>
                <key>sourceSize</key>
                <string>{210,138}</string>
            </dict>
            <key>Boss_cannon_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,1124},{120,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{120,120}}</string>
                <key>sourceSize</key>
                <string>{144,140}</string>
            </dict>
            <key>Boss_shooter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,212},{326,80}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,24},{326,80}}</string>
                <key>sourceSize</key>
                <string>{352,126}</string>
            </dict>
            <key>SpaceFlier_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2012},{22,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{22,22}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>enemy_spaceship.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,2},{468,208}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{468,208}}</string>
                <key>sourceSize</key>
                <string>{508,242}</string>
            </dict>
            <key>fighter1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,212},{386,212}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{386,212}}</string>
                <key>sourceSize</key>
                <string>{420,260}</string>
            </dict>
            <key>fighter2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,426},{356,212}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,25},{356,212}}</string>
                <key>sourceSize</key>
                <string>{420,260}</string>
            </dict>
            <key>foe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,275},{171,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,136}}</string>
                <key>sourceSize</key>
                <string>{171,136}</string>
            </dict>
            <key>foe2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,1267},{167,136}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,136}}</string>
                <key>sourceSize</key>
                <string>{171,136}</string>
            </dict>
            <key>foe3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,900},{222,318}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,8},{222,318}}</string>
                <key>sourceSize</key>
                <string>{258,340}</string>
            </dict>
            <key>foe4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,640},{222,324}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,8},{222,324}}</string>
                <key>sourceSize</key>
                <string>{258,340}</string>
            </dict>
            <key>foe5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,864},{232,318}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{232,318}}</string>
                <key>sourceSize</key>
                <string>{258,340}</string>
            </dict>
            <key>foe6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,580},{240,318}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{240,318}}</string>
                <key>sourceSize</key>
                <string>{258,340}</string>
            </dict>
            <key>healthbar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1970},{296,18}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{296,18}}</string>
                <key>sourceSize</key>
                <string>{306,30}</string>
            </dict>
            <key>healthbar_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2012},{296,18}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{296,18}}</string>
                <key>sourceSize</key>
                <string>{306,30}</string>
            </dict>
            <key>healthbar_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2028},{296,18}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{296,18}}</string>
                <key>sourceSize</key>
                <string>{306,30}</string>
            </dict>
            <key>laserbeam_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1970},{222,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{222,56}}</string>
                <key>sourceSize</key>
                <string>{242,74}</string>
            </dict>
            <key>laserbeam_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1970},{102,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{102,40}}</string>
                <key>sourceSize</key>
                <string>{116,48}</string>
            </dict>
            <key>multiple1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,1098},{167,193}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{167,193}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>multiple2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,1098},{167,193}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,1},{167,193}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>powerup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,413},{169,165}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{169,165}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>powerup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,116},{171,157}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{171,157}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sprites-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c32d5d3d21dded66284648c272e8215$</string>
            <key>textureFileName</key>
            <string>Sprites-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
