<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Big_turret.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,3770},{122,90}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{122,90}}</string>
                <key>sourceSize</key>
                <string>{144,90}</string>
            </dict>
            <key>Big_turret2.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,3770},{122,90}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{122,90}}</string>
                <key>sourceSize</key>
                <string>{144,90}</string>
            </dict>
            <key>Boss_cannon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3909},{174,112}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{174,112}}</string>
                <key>sourceSize</key>
                <string>{210,138}</string>
            </dict>
            <key>Boss_cannon_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,3770},{120,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{120,120}}</string>
                <key>sourceSize</key>
                <string>{144,140}</string>
            </dict>
            <key>Boss_shooter.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,3575},{326,80}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,24},{326,80}}</string>
                <key>sourceSize</key>
                <string>{352,126}</string>
            </dict>
            <key>SpaceFlier_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{4048,106},{22,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{22,22}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>bossarmside.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2410},{721,1163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{721,1163}}</string>
                <key>sourceSize</key>
                <string>{857,1163}</string>
            </dict>
            <key>bossarmside2.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,2410},{707,1163}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,0},{707,1163}}</string>
                <key>sourceSize</key>
                <string>{857,1163}</string>
            </dict>
            <key>bossarmtop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,877},{2366,873}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2366,873}}</string>
                <key>sourceSize</key>
                <string>{2366,873}</string>
            </dict>
            <key>bossarmtop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2366,873}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2366,873}}</string>
                <key>sourceSize</key>
                <string>{2366,873}</string>
            </dict>
            <key>bossmain.png</key>
            <dict>
                <key>frame</key>
                <string>{{2370,1167},{1432,1163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1432,1163}}</string>
                <key>sourceSize</key>
                <string>{1432,1163}</string>
            </dict>
            <key>bossmain2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2370,2},{1432,1163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1432,1163}}</string>
                <key>sourceSize</key>
                <string>{1432,1163}</string>
            </dict>
            <key>carrier1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,1752},{1108,838}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,68},{1108,838}}</string>
                <key>sourceSize</key>
                <string>{1600,1000}</string>
            </dict>
            <key>fighter1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3804,1664},{386,212}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,25},{386,212}}</string>
                <key>sourceSize</key>
                <string>{420,260}</string>
            </dict>
            <key>fighter2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3804,2052},{356,212}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,25},{356,212}}</string>
                <key>sourceSize</key>
                <string>{420,260}</string>
            </dict>
            <key>foe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,3909},{171,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,136}}</string>
                <key>sourceSize</key>
                <string>{171,136}</string>
            </dict>
            <key>foe2.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,3575},{167,136}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,136}}</string>
                <key>sourceSize</key>
                <string>{171,136}</string>
            </dict>
            <key>foe3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3804,1120},{222,318}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{222,318}}</string>
                <key>sourceSize</key>
                <string>{258,340}</string>
            </dict>
            <key>foe4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3804,794},{222,324}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{222,324}}</string>
                <key>sourceSize</key>
                <string>{258,340}</string>
            </dict>
            <key>foe5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3804,474},{232,318}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{232,318}}</string>
                <key>sourceSize</key>
                <string>{258,340}</string>
            </dict>
            <key>foe6.png</key>
            <dict>
                <key>frame</key>
                <string>{{3804,154},{240,318}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{240,318}}</string>
                <key>sourceSize</key>
                <string>{258,340}</string>
            </dict>
            <key>healthbar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4068,404},{296,18}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{296,18}}</string>
                <key>sourceSize</key>
                <string>{306,30}</string>
            </dict>
            <key>healthbar_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{4048,130},{296,18}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{296,18}}</string>
                <key>sourceSize</key>
                <string>{306,30}</string>
            </dict>
            <key>healthbar_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{4072,106},{296,18}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{296,18}}</string>
                <key>sourceSize</key>
                <string>{306,30}</string>
            </dict>
            <key>laserbeam_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{3804,1440},{222,222}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{222,222}}</string>
                <key>sourceSize</key>
                <string>{242,222}</string>
            </dict>
            <key>laserbeam_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{4038,702},{222,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{222,56}}</string>
                <key>sourceSize</key>
                <string>{242,74}</string>
            </dict>
            <key>laserbeam_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{4028,926},{218,56}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{218,56}}</string>
                <key>sourceSize</key>
                <string>{242,74}</string>
            </dict>
            <key>laserbeam_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{4048,2},{102,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{102,40}}</string>
                <key>sourceSize</key>
                <string>{116,48}</string>
            </dict>
            <key>lightning1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3804,78},{242,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,74}}</string>
                <key>sourceSize</key>
                <string>{242,74}</string>
            </dict>
            <key>lightning2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3804,2},{242,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,74}}</string>
                <key>sourceSize</key>
                <string>{242,74}</string>
            </dict>
            <key>multiple1.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,3894},{167,193}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{167,193}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>multiple2.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,3575},{167,193}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{167,193}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>powerup.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,3903},{169,165}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{169,165}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>powerup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,3909},{171,157}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{171,157}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>transparent.png</key>
            <dict>
                <key>frame</key>
                <string>{{4090,2},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,247}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,495}</string>
            </dict>
            <key>wasp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,3575},{332,202}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,30},{332,202}}</string>
                <key>sourceSize</key>
                <string>{508,242}</string>
            </dict>
            <key>wasp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3575},{332,202}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,30},{332,202}}</string>
                <key>sourceSize</key>
                <string>{508,242}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sprites-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47b890452be87432b964ac3646323c97$</string>
            <key>textureFileName</key>
            <string>Sprites-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
