<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Big_turret.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{336,246}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{336,246}}</string>
                <key>sourceSize</key>
                <string>{400,250}</string>
            </dict>
            <key>Big_turret2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{348,246}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{348,246}}</string>
                <key>sourceSize</key>
                <string>{400,250}</string>
            </dict>
            <key>Boss_cannon.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,317},{45,29}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{45,29}}</string>
                <key>sourceSize</key>
                <string>{53,35}</string>
            </dict>
            <key>Boss_cannon_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,297},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{30,29}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>Boss_shooter.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,169},{82,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{82,22}}</string>
                <key>sourceSize</key>
                <string>{88,32}</string>
            </dict>
            <key>SpaceFlier_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,498},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>enemy_spaceship.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{117,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{117,51}}</string>
                <key>sourceSize</key>
                <string>{127,61}</string>
            </dict>
            <key>fighter1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,55},{97,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{97,55}}</string>
                <key>sourceSize</key>
                <string>{105,65}</string>
            </dict>
            <key>fighter2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,112},{89,55}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{89,55}}</string>
                <key>sourceSize</key>
                <string>{105,65}</string>
            </dict>
            <key>foe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,252},{43,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,34}}</string>
                <key>sourceSize</key>
                <string>{43,34}</string>
            </dict>
            <key>foe2.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,47},{43,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,34}}</string>
                <key>sourceSize</key>
                <string>{43,34}</string>
            </dict>
            <key>foe3.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,234},{57,81}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{57,81}}</string>
                <key>sourceSize</key>
                <string>{65,85}</string>
            </dict>
            <key>foe4.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,193},{57,81}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{57,81}}</string>
                <key>sourceSize</key>
                <string>{65,85}</string>
            </dict>
            <key>foe5.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,92},{59,77}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{59,77}}</string>
                <key>sourceSize</key>
                <string>{65,85}</string>
            </dict>
            <key>foe6.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,171},{61,73}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{61,73}}</string>
                <key>sourceSize</key>
                <string>{65,85}</string>
            </dict>
            <key>healthbar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,498},{75,6}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{75,6}}</string>
                <key>sourceSize</key>
                <string>{77,8}</string>
            </dict>
            <key>healthbar_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,498},{75,6}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{75,6}}</string>
                <key>sourceSize</key>
                <string>{77,8}</string>
            </dict>
            <key>healthbar_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,498},{75,6}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{75,6}}</string>
                <key>sourceSize</key>
                <string>{77,8}</string>
            </dict>
            <key>laserbeam_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,234},{55,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{55,15}}</string>
                <key>sourceSize</key>
                <string>{61,19}</string>
            </dict>
            <key>laserbeam_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{25,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{25,10}}</string>
                <key>sourceSize</key>
                <string>{29,12}</string>
            </dict>
            <key>multiple1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,297},{43,49}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{43,49}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>multiple2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,252},{43,49}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{43,49}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>powerup.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,342},{43,43}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>powerup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,2},{43,39}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{43,39}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sprites.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35a9d795b7b6af011c06bddc101221a8$</string>
            <key>textureFileName</key>
            <string>Sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
